{% extends "base.html" %}
{% load static %}

{% block titolo %} Benvenuto! {% endblock %}

{% block content %}
<div class="container text-center py-4">
	<div class="lc-block card border-0 text-center rounded p-4 p-lg-6">
		<div class="row card-body mb-3 mb-lg-4">
			<div class="col-xl-11 col-xxl-10 mx-auto">
				<div class="lc-block mb-5">
					<p class="text-uppercase" editable="inline">Vuoi avere tutto sotto controllo?</p>
					<h3 editable="inline" class="fw-bold display-2">L'app di <span class="text-primary">MSA</span> ti aspetta!</h3>
				</div>

				<div class="lc-block mb-4">
					<div class="d-flex flex-wrap justify-content-center gap-3">

						<div class="d-inline-flex gap-1 lc-block">

							<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="text-primary my-auto flex-shrink-0" viewBox="0 0 16 16" lc-helper="svg-icon">
								<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"></path>
								<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"></path>
							</svg>
							<p editable="inline" class="lead my-auto">Aggiungi i prodotti in giacenza!</p>

						</div>
						<div class="d-inline-flex gap-1 lc-block ">

							<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="text-primary my-auto flex-shrink-0" viewBox="0 0 16 16" lc-helper="svg-icon">
								<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"></path>
								<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"></path>
							</svg>
							<p editable="inline" class="lead my-auto">Assegna i prodotti ad un utente!</p>

						</div>
						<div class="d-inline-flex gap-1 lc-block ">

							<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="text-primary my-auto flex-shrink-0" viewBox="0 0 16 16" lc-helper="svg-icon">
								<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"></path>
								<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"></path>
							</svg>
							<p editable="inline" class="lead my-auto">Saprai sempre dove sono i tuoi prodotti</p>

						</div>
						<div class="d-inline-flex gap-1 lc-block ">

							<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="text-primary my-auto flex-shrink-0" viewBox="0 0 16 16" lc-helper="svg-icon">
								<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"></path>
								<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"></path>
							</svg>
							<p editable="inline" class="lead my-auto">Saprai sempre chi ha cosa!&nbsp;</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="lc-block">
            <a class="btn text-white btn-lg btn-primary mt-3" href="{% url 'lista_giacenze' %}" role="button">Aggiungi prodotto</a>
            <a class="btn text-white btn-lg btn-primary mt-3" href="#" role="button">Assegna  prodotto</a>
        </div>
        
	</div>
</div>

{% endblock %}